<div class="container">
  <h1> Note Machine </h1>

  <div>
  <% if @mode == "edit" %>
    <div class="edit"><%= erb :edit %></div>
  <% else %>
    <table class="add">
    <form>
      <tr>
        <td>Title:
        <td><input type="text" name="title">
      <tr>
        <td>Message:
        <td><textarea name="message" rows="3" cols="50"></textarea>
      <tr>
        <td><td><button type="submit" formmethod="post" formaction="/notes">Add</button>
    </form>
    </table>
  <% end %>
  </div>

  <br>
  <div>
  <table class="notes" border="1">
  <% @notes.each do |note| %>
  <form action="/notes/<%= note.id %>" method="post">
    <tr>
      <td> <button type="submit" formmethod="get" formaction="/notes/<%= note.id %>/edit">Edit</button>
      <td> <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete" onclick="return confirm('For realsies?')">
      <td class="highlight"> Title:
      <td> <%= note.title %>
      <td>
      <td class="highlight"> Message:
      <td>
      <td> <%= note.message %>
  </form>
  <% end %>
  </table>
  </div>



</div>
