<h1>Notes App </h1>
<%= erb :note_creation %>
<br><h2>Your Notes</h2>

<ol>
<% @notes.each do |note| %>
<li>
  <% if note == @note_to_edit %>
    <%= erb :note_edit, :locals => {:note => note} %>
  <% else %>  
  <h3><%= note.title%></h3>
  <%= note.content %><br>
  <a class="delete" href="/<%= note.id %>/deleted">Delete Note</a>
  <a href="/<%= note.id %>/edit">Edit Note</a>
  <% end %>
</li>
<% end %>
</ol>

