<div class="container">

  <h2>Notes of Good Fortune</h2>
<form action="/note" method="post">
  <input type="text" name="title" placeholder="place title here">
  <input type="text" name="note" placeholder="place note here">
  <input type="submit">
</form>

<% @note.each do |note| %>
  <div class="NoteDiv<%= note.id %>">

  <%= note.title %> : <%= note.content %>
  <form action="/note/<%= note.id %>" method="get">  
    <button type="submit">Edit</button> 
  </form>
  <form action="/note/<%= note.id %>/delete" method="post">  
    <input type="hidden" name="_method" value="delete">   
    <button type="submit">Delete</button>  
  </form> 
  </div>
<% end %>

</div>
