<div class="container">
  <h1 class="center">Notes</h1>
  <% if @deleted %>
    <h4 class="center alert"><%= @deleted %></h4>
  <% end %>
  <h4 class="center"><a href="/notes/new">New Note</a></h4>
  <% @notes.each do |note| %>
    <div class="note">
      <p class="note-title">
        <%= note.title %>
      </p>
      <div class="note-content">
        <p class="note-content-text"><%= note.content %></p>
        <form class="left" action="/notes/<%= note.id %>" method="post">
          <input name="_method" type="hidden" value="delete">
          <input type="submit" value="Delete">
        </form>
        <a href="/notes/<%= note.id %>/edit" class="right">
          <button>Edit</button>
        </a>
      </div>
    </div>
  <% end %>
  <h4 class="expand">Expand Notes</h4>
</div>