<div class="container">
  <h3><%= @note.title %></h3>
  <p><%= @note.content %></p>

  <div class="bottom-menu">
    <form action="/notes/<%= @note.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <input type="text" name="title" value="<%= @note.title %>"><br><br>
      <textarea cols="40" rows="10" name="content"><%= @note.content %></textarea><br><br>
      <button action="submit">Change note</button/>
    </form>

    <form action="/notes/<%= @note.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button action="submit">Delete note</button/>
    </form>

    <% if session[:delete_mode] %>
    <p class="alert">Are you sure you want to delete this note?</p>
    <% end %>
  </div>

  <p><a href="/">See all notes</a><p>
</div>