<p>You have <%= @notes.count %> notes.</p>
<form action="/notes/new" method="get">
  <input type="submit" value="Create a Note">
</form>
<ol>
<% @notes.each do |note| %>
  <div class="note">
    <li class="title">
      <%= note.title %>
    </li>
    <p class="content">
      <%= note.content %>
    </p>
    <form action="/notes/<%= note.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="DELETE">
    </form>
    <form action="/notes/<%= note.id %>/edit" method="get">
      <input type="submit" value="Edit">
    </form>
  </div>
<% end %>
</ol>